doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        link(rel="stylesheet", href="styles/css/app.min.css")
        block title
            title Lucid
    body
        .wrapper
            include layouts/hero
            include layouts/amazing
            include layouts/beautiful
            include layouts/super
            include layouts/plans
            include layouts/like
            include layouts/contact
            include layouts/footer
           
        script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(type="text/javascript" src="styles/scripts/slick.min.js")
        script(type="text/javascript" src="styles/scripts/main.js")