doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        link(rel="stylesheet", href="styles/css/app.min.css")
        block title
            title Добро пожаловать
    body
        block wrapper
            .wrapper
               
    