//color
$blue: #008ed6;
$white: #ffffff;
$grey: #999999;
$black: #1a1a1a;


//fonts
$qB: 'quicksandbold';
$qIt: 'quicksanditalic';
$qR: 'quicksandregular';

$ssB: 'source_sans_probold';
$ssBIt: 'source_sans_probold_italic';
$ssIt: 'source_sans_proitalic';
$ssR: 'source_sans_proregular';
$ssSB: 'source_sans_prosemibold';
$ssSBIt: 'source_sans_proSBdIt';
$ssL: 'source_sans_prolight';
$ssEL: 'source_sans_proextralight';