section.section.about#about
    .container
        .about__img-block
        .about__content-block
            .about__content-subtitle.subtitle-block
                p.features__title-text dip into the details
                h2.subtitle Beautiful in every device
                    <svg>
                        <line x1="0" y1="10" x2="48%" y2="10" stroke='#008ed6' stroke-width="2"/>
                        <line x1="52%" y1="10" x2="100%" y2="10" stroke='#008ed6' stroke-width="2"/>
                    </svg>

            p.about__content-text Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
            ul.about__content-list
                li.about__content-item
                    .about__content-item-img
                        +icon("icon-cup")
                    span.about__content-item-text Awesome design
                li.about__content-item
                    .about__content-item-img
                        +icon("icon-mouse")
                    span.about__content-item-text Fully responsive
                li.about__content-item
                    .about__content-item-img
                        +icon("icon-flash-symbol")
                    span.about__content-item-text Retina ready
                li.about__content-item
                    .about__content-item-img
                        +icon("icon-speedometer")
                    span.about__content-item-text Tons of features and easy to use

