section.section.like
    .like__text
        span.like__text-bold Like what you see?
        span.like__text-normal Get this great theme now!
    .like__btns.btns
        .btn
            a(href="#").btn__link download now
        .btn
            a(href="#feautures").btn__link view feautures