section.section.plans#pricing
    .plans__subtitle-block
        .subtitle-block
            p.features__title-text quality has its price
            h2.subtitle Pricings & Plans
                <svg>
                    <line x1="0" y1="10" x2="48%" y2="10" stroke='#008ed6' stroke-width="2"/>
                    <line x1="52%" y1="10" x2="100%" y2="10" stroke='#008ed6' stroke-width="2"/>
                </svg>
    .plans__slider-block
        ul.plans__slider-list.slider
            li.plans__slider-items
                .slider__left
                    p.slider__text Once upon a time all the Rivers combined to protest against the action of the Sea in making their waters salt. “When we come to you,” said they to the Sea.
                    .slider__autor-box
                        img(src="styles/images/photo/1.jpg" alt="photo").slider__photo
                        .slider__content
                            .slider__name John Doe
                            .slider__position ceo, the rivers company
                .slider-right
                    p.slider__text A shoe is not only a design, but it's a part of your body language, the way you walk. The way you're going to move is quite dictated by your shoes.
                    .slider__autor-box
                        img(src="styles/images/photo/2.jpg" alt="photo").slider__photo
                        .slider__content
                            .slider__name Dean Winchester 
                            .slider__position ux disinger, google inc.
            li.plans__slider-items
                .slider__left
                    p.slider__text Once upon a time all the Rivers combined to protest against the action of the Sea in making their waters salt. “When we come to you,” said they to the Sea.
                    .slider__autor-box
                        img(src="styles/images/photo/1.jpg" alt="photo").slider__photo
                        .slider__content
                            .slider__name John Doe
                            .slider__position ceo, the rivers company
                .slider-right
                    p.slider__text A shoe is not only a design, but it's a part of your body language, the way you walk. The way you're going to move is quite dictated by your shoes.
                    .slider__autor-box
                        img(src="styles/images/photo/2.jpg" alt="photo").slider__photo
                        .slider__content
                            .slider__name Dean Winchester 
                            .slider__position ux disinger, google inc.
            li.plans__slider-items
                .slider__left
                    p.slider__text Once upon a time all the Rivers combined to protest against the action of the Sea in making their waters salt. “When we come to you,” said they to the Sea.
                    .slider__autor-box
                        img(src="styles/images/photo/1.jpg" alt="photo").slider__photo
                        .slider__content
                            .slider__name John Doe
                            .slider__position ceo, the rivers company
                .slider-right
                    p.slider__text A shoe is not only a design, but it's a part of your body language, the way you walk. The way you're going to move is quite dictated by your shoes.
                    .slider__autor-box
                        img(src="styles/images/photo/2.jpg" alt="photo").slider__photo
                        .slider__content
                            .slider__name Dean Winchester 
                            .slider__position ux disinger, google inc.
            li.plans__slider-items
                .slider__left
                    p.slider__text Once upon a time all the Rivers combined to protest against the action of the Sea in making their waters salt. “When we come to you,” said they to the Sea.
                    .slider__autor-box
                        img(src="styles/images/photo/1.jpg" alt="photo").slider__photo
                        .slider__content
                            .slider__name John Doe
                            .slider__position ceo, the rivers company
                .slider-right
                    p.slider__text A shoe is not only a design, but it's a part of your body language, the way you walk. The way you're going to move is quite dictated by your shoes.
                    .slider__autor-box
                        img(src="styles/images/photo/2.jpg" alt="photo").slider__photo
                        .slider__content
                            .slider__name Dean Winchester 
                            .slider__position ux disinger, google inc.
            
