ul.socials
    li.socials__icons
        a.socials__link(href="#" target="_blank")
            +icon("icon-behance-logo")
    li.socials__icons
        a.socials__link(href="#" target="_blank")
             +icon("icon-dribbble-logo")
    li.socials__icons
        a.socials__link(href="#" target="_blank")
            +icon("icon-twitter")
    li.socials__icons
        a.socials__link(href="#" target="_blank")
            +icon("icon-facebook-logo")
    li.socials__icons
        a.socials__link(href="#" target="_blank")
            +icon("icon-in")
