section.section.super#testimonials
    .container
        .super__content-block
            .super__content-subtitle.subtitle-block
                p.features__title-text dip into the details
                h2.subtitle Super easy to customize
                    <svg>
                        <line x1="0" y1="10" x2="48%" y2="10" stroke='#008ed6' stroke-width="2"/>
                        <line x1="52%" y1="10" x2="100%" y2="10" stroke='#008ed6' stroke-width="2"/>
                    </svg>
            p.super__content-text Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        .super__img-block